@charset "utf-8";
body{
	background-color: #00CBFF
}
.SignUpForm{
	text-align: center
}
.input{
	border-radius: 15px;
	border-color: transparent;
	font-size: 15px;
	transition-duration: 350ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
.input:hover{
	background-color: #888888;
}
.input:focus{
	font-size: 22px;
	background-color: black;
	color: white;
	border-radius: 20px;
}
.SignUpButton{
	background-color: transparent;
	border-color: transparent;
	font-size: 18px;
	transition-duration: 350ms;
	transition-property: all;
	transition-timing-function: ease-in-out
}
.SignUpButton:hover{
	background-color: #00FF24;
	border-radius: 20px;
}